/* src/components/Topbar.css */

.topbar-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-transform: none;
  margin-right: 10px;
}

.topbar-link:hover {
  text-decoration: underline;
}

.App {
  padding-top: 64px; /* default AppBar height to avoid content being hidden under the fixed topbar */
  padding-bottom: 60px; /* if you also have a fixed bottombar */
}
